*.log
*.log.*.0
*.log.*.1
*.class
*.orig
target/
classes/

*.jar
!gradle-wrapper.jar
*.war
*.ear

.gradle/
gradle/
build/
out/
/conf/

*.iml
*.ipr
*.iws
.idea/

node_modules/
npm-debug.log
/bin/

wlp/
.classpath
.project
.settings

/[0-9]*

generatedSources/

results/
.DS_Store

*.lock